/2. Curso de python/servidor/venv
/2. Curso de python/web_scraping/venv
/2. Curso de python/web_scraping/requirements.txt
/2. Curso de python/servidor/requirements.txt
/2. Curso de python/appenfineServer/requirements.txt
/2. Curso de python/appenfineServer/lib
/2. Curso de python/appenfineServer/venv
*.txt